
button:disabled {
  background-color: gray;
  
}

@font-face {
    font-family: 'EncodeSansExpanded';
    src: url('./../fonts/EncodeSansExpanded-Bold.woff2') format('woff2');
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

body {
    font-family: 'EncodeSansExpanded', sans-serif;
    
}




.product .btnH 
{
    transition: transform 0.2s , opacity 1s;
    opacity: 0;
}
.product:hover .btnH 
{
    opacity: 1;

}

